.bg_grad {
  background-color: #631aec;
}
.bg_blue {
  background-color: #631aec;
}
.red_border {
  color: #ff5668;
  font-weight: bolder;
}

@import url("https://fonts.googleapis.com/css?family=Open + Sans");
#circle-shape-example {
  font-family: Open Sans, sans-serif;
}
#circle-shape-example p {
  line-height: 1.8;
}
#circle-shape-example .curve {
  width: 10%;
  height: auto;
  min-width: 150px;
  float: right;
  margin-left: 2rem;
  -webkit-shape-outside: circle();
  shape-outside: circle();
}
